article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

.container {
    position: fixed;
    width: 1396px;
    height: 50px;
    left: -3px;
    top: 0px;
    background: #B8E2FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Buplogo {
    /*   position: absolute;*/
    width: 50px;
    height: 50px;
    left: 5px;
    top: -0px;
}

#dropdn{
  font-family: 'Istok Web';
  font-size: 18px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #044F2B;
  font-variation-settings: 'slnt' -1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sidenav {
  height: 100%;
  width: 00;
  position: fixed;
  z-index: 1;
  top: 5;
  right: 0;
  background-color: #B8E2FA;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e7f6ff !important;
}  

.search{
    border: 1px solid rgb(13, 196, 120);
    margin-bottom: auto;
    margin-top: 200px;
    height: 40px;
    background-color: #fff;
    padding: 0px;
    left: 500px;
    position: absolute;
    width: 400px;
    top:-100px;
}

.search-input{

    color: white;
    border:0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height:0px;
    transition: width 0.4s linear;
     
    
   
}

.search .search-input{
    padding: 0px;
    width: 350px;
    caret-color: #B8E2FA;
    font-size: 21px;
    font-weight: 300;
    color: rgb(2, 37, 15);
    transition: width 0.4s linear;
}

.search:hover>.search-icon{
    background:#CBEED3;
    color:#fff;
}
.search-icon{

        height: 40px;
    width: 40px;
    float:  right ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #B8E2FA;
    position:relative

}
a:link{
    text-decoration: none;
}
.book{position: absolute;
  width: 127px;
  height: 168px;
  left: 44px;
  top: 300px;} 
  .library_logo_name{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 15px;
    top: 30px;
  }
  .button1{position: absolute;
    color: #000;
    width: 200px;
    height: 46px;
    left: 63px;
    top: 480px;}
    .btn-default{
        background-color: #CBEED3 !important;
        border-color:#80ebb7 !important;
      }     
      
.bcolor{color:#044F2B ;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 800px;
    font-size: 20px;}
.book_detail1{position: absolute;
    width: 1016px;
    height: 127px;
    left: 212px;
    top: 300px;
    
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;
    
    color: #000000;
    }
.button2 {position: absolute;
    width: 238px;
    height: 65px;
    left: 1100px;
    top: 330px;
    
    }
    .bcolor2{color:#044F2B ;
        font-family: 'Inria Serif';
        font-style: normal;
        font-weight: 800px;
        font-size: 24px;}
.book_detail2{position: absolute;
    width: 789px;
    height: 264px;
    left: 44px;
    top: 550px;
    
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 29px;
    display: flex;
    align-items: center;
    
    color: #1A1A1A;}
.button3{position: absolute;
    width: 192px;
    height: 58px;
    left: 44px;
    top: 830px;
} 
.bcolor3{color:#044F2B ;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 800px;
    font-size: 20px;}   
    table.GeneratedTable {
      width: 100%;
      background-color: #ffffff;
      border-collapse: collapse;
      border-width: 2px;
      border-color: #d4edfc;
      border-style: solid;
      color: #000000;
    }
.tab{position: absolute;
  width: 1297px;
  height: 287px;
  left: 44px;
  top: 880px;}      
    
    table.GeneratedTable td, table.GeneratedTable th {
      border-width: 2px;
      border-color: #CBEED3;
      border-style: solid;
      padding: 3px;
    }
    
    table.GeneratedTable thead {
      background-color:  #cbeed3;
    }
    
/* .home_bar{ position: absolute; */
  /* left: -40px; */
 /* top: 1500px; */
  /* width: 1341px;
  right: 0px; */
 
/* } */
.breadcrumb{
  position: absolute;
  background-color: #B8E2FA;
  
  top: 240px;
  width:1343px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
.breadcrumb-item{color: #044F2B;
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 800px;
  font-size: 20px;} 
 .back_button1 {position: absolute;
  color: #B8E2FA;
  
  
  left: 55px;
  top: 200px;}  
.fa-solid
{color: #044f2b;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
     
      background-color:#CBEED3;
padding: 7px;}
button{border:none
}
breadcrumb{
  position: absolute;
  background-color: #B8E2FA;
  width: 90%;
  height: 10%;
  padding: 1%;
  left: 45px;
  right: 45px;
  top: 59px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #044F2B;
  font-size: 24px;
  font-weight: 700;
  font-family: Istok Web;
  margin-top: 150px;
}

.back_btn{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #044F2B;
  font-size: 24px;
  position: relative;
  top: 130px;
  left: 40px;
}
  
